.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    color: #18251D;
    padding: 15px 7%;
    transition: 0.5s;
}

.logo {
    width: 50px;
    cursor: pointer;
    transition: transform 0.3s;
}

.logo:hover {
    transform: scale(1.3);
}

ul {
    flex: 1;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.3s;

}

ul li::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: rgb(44, 116, 116);
    transform: scaleX(0);
    transform-origin: left;
    /* ← izquierda a derecha */
    transition: transform 0.3s ease;
}

ul li:hover {
    transform: scale(1.3);
}

ul li:hover::after {
    transform: scaleX(1);
}

.toggle-icon {
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}

.search-box {
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    max-width: 200px;
}

.search-box input::placeholder {
    color: #fff;
}

.search-box img {
    width: 30px;
    cursor: pointer;
    transition: transform 0.3s;
}

.search-box img:hover {
    transform: scale(1.1);
}

.nav ul li a {
    text-decoration: none;
    color: #0B132B;
}

/*==================================================================*/
.dark .nav {
    background: #0B132B;
    color: #DFF7FF;
}

.dark .search-box {
    background: #ffffff93;
}

.dark .search-box input {
    color: #222;
}

.dark .search-box input::placeholder {
    color: #222;
}

.dark .nav ul li a {
    text-decoration: none;
    color: #ffffff93;
}