.content-redes {

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.content-redes img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
}

.content-redes button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 0;
    transition: transform 0.3s;
}

.content-redes button:hover {
    transform: scale(1.1);
}

.dark .content-redes {
    color: white;
}